<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :meta %>

    <%= erb :title %>

    <%= erb :stylesheets %>
  </head>

  <body>
    <%= erb :nav %>

    <div id='main-container' class='container'>
      <div id='main' class='pull-left'>
      </div>
    </div>

    <%= erb :javascripts %>
  </body>
</html>
